* {

    
    height: altura;
    width: anchura;

    font-size: tamaño de letra;
    font-family: tipo de letra;    
    color: color del texto;
    text-align: alineado del texto, center;  
    background-color: color de fondo;
    
    border: borde;
    border-radius: esquinas redondeadas;

    margin: margen;

    display: mostrar contenido (flex, block);
    flex-direction: direccion del contenido (column, row);
    justify-content: justificar contenido horizontalmente (flex-start, flex-end, center);
    align-items: alinear elementos verticalmente (flex-start, flex-end, center);





    /******** Formas de utilizarlos: */


    height: altura, 100px;
    width: anchura, 100px;

    font-size: tamaño de letra, 16px;
    font-family: tipo de letra, "arial";
    color: color del texto, violet;
    background-color: color de fondo, brown;
    
    border: borde, 1px solid blue;
    border-radius: esquinas redondeadas, 7px;

    margin: 20px;

    display: flex;
    


    


}