
h3{
  font-size : 50px;
  text-align :center;
  color:#584337;
  font-weight: 400;
}

.contenedor-de-pasteles {
  display: flex;
}

.contenedor-de-pasteles a {
  color:#ffffff;
  background-color: #ef6d58;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.pastel1, .pastel2, .pastel3{
  margin-right: 20px;
  max-width: 374px;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#584337;
}

.contenedor-del-precio{
  display:flex;
  align-items: center;
}

.titulo-precio{
  margin-right:auto;
}

.pastel-descripcion{
  margin-top: 0;
}
































































































































































































































































































































:root { 
  --text_dark: #391400; 
  --text_dark_gray: #391400; 
  --white: #ffffff; 
  --primary: #ef6d58; 
  --text_light_gray: #ffffff; 
  --bg: #16161a; 
  --bg-2: #242629; 
  --grey-1: #dbdde0; 
  --grey-2: #4d4d4d; 
  --orange-ligth: #f9e5da; 
  --h1: 800 4.5rem/5rem Epilogue; 
  --h2: 300 3.5rem/4rem Epilogue; 
  --h3: 800 2.5rem/3rem Epilogue; 
  --h5: 300 1rem/2rem Epilogue; 
  --label: 700 0.75rem/normal Epilogue; 
  --text_big: 400 1.25rem/2rem Epilogue; 
  --text: 400 1rem/2rem Epilogue; 
  --text_small: 400 0.875rem/1.5rem Epilogue; 
  --button: 900 0.875rem/normal Epilogue; 
  --h4-bold: 700 1.5rem/2rem Epilogue; 
  --h4-light: 300 1.5rem/2rem Epilogue;    
}


body {
  font: var(--text);
}